<!DOCTYPE html>
<html>

<% include ./partials/adminheader %>    
    
    <section class="register-section">
        <div class="auto-container">
            <div class="row clearfix">
                    <% include ./partials/aside %>
                
                <div class="column form-column  col-lg-5 col-md-5 col-sm-12 col-xs-12">
                
                    <div class="sec-title medium">
                        <h2><%= headers.header %></h2>
                    </div>
                    <% if(headers.error) {%>
                    <%= headers.error %>
                    <% } %>
                    <div class="styled-form login-form">
                        <form method="post" action="/category" name="form1">
                            <div class="form-group">
                                <input type="text" name="name" required placeholder="Category Name *">
                            </div>
                        <div class="clearfix">
                                <div class="form-group pull-left">
                                    <button type="submit" class="theme-btn btn-style-two">Create</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    
                </div>
                
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <aside class="sidebar">
                            
                            <div class="widget popular-categories sidebar-widget">
                                <div class="sidebar-title"><h3>Product Categories</h3></div>
                                
                                <ul class="list-three">
                                <% for (const category of categories) { %>
                                    <form method="post" action="/category?_method=DELETE" id="form_">
                                    <input type="hidden" name="_id" value="<% category._id %>">
                                    <li><a href="" title="Delete"><%= category.name %> &nbsp;
                                        <button type="submit" class="fa fa-trash"></button>
                                    </a></li>
                                    </form>
                                    <% }%>
                                </ul>
                                
                            </div>
                            
                        </aside>
                    </div>
                
            </div>
        </div>
    </section>
      
   <% include ./partials/adminfooter %>
