<!DOCTYPE html>

<% include ./partials/header %>    
    <!--Page Title-->
    <!-- <section class="page-title" style="background-image:url(images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>Single Shop</h1>
        </div>
    </section>
     -->
  <!--Page Info-->
  <section class="page-info">
    <div class="auto-container clearfix">
        <div class="pull-left"><h2>Product Detials</h2></div>
        
    </div>
</section>

    
    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side-->      
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    
                    <!--Product Details Section-->
                    <section class="products-section product-details no-padd-top no-padd-bottom">
                        <!--Basic Details-->
                        <div class="basic-details">
                            <div class="row clearfix">
                                <div class="image-column col-md-5 col-sm-6 col-xs-12">
                                    <figure class="image-box"><img class="img-responsive" src="/images/royals.jpeg" alt=""></figure>
                                </div>
                                <div class="info-column col-md-7 col-sm-6 col-xs-12">
                                    <div class="details-header">
                                        <h4>Fabric Sofa 3 Set </h4>
                                        <div class="item-price">$ 14.99</div>
                                        
                                    </div>
                                    
                                    <div class="text">
                                        <p>There are many variations of passages,the ut majority have suffered seds alterationin some form, by injected humourr andomised words which don't look evenslightly believable when get finance. </p>
                                    </div>
                                    
                                    
                                    <div class="clearfix options">
                                        <!-- <div class="pull-left padd-right-20 item-quantity"><input class="quantity-spinner" type="text" value="1" name="quantity"></div> -->
                                        <div class="pull-left padd-right-20"><a href="#" class="theme-btn btn-style-one">Add to Cart</a></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div><!--Basic Details-->
                        
                       
                        
                    </section>
                            
                    <!--Related Products Section-->
                    <section class="related-products">
                    	<div class="sec-title medium"><h2>Related Products</h2></div>
                        
                        <div class="related-items-carousel">
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-11.jpg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Drawer Console Table</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-half-empty"></span>
                                        </div>
                                        
                                        <div class="price">$ 30.99 <span>$ 35.99</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-11.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-12.jpg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Bench With Basket</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        
                                        <div class="price">$ 44.99 </div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-12.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-13.jpg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Dining Wash Basin</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        
                                        <div class="price">$ 19.99 <span>$ 25.99</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-13.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-5.jpg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Walton Single Sofa</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        
                                        <div class="price">$ 25.99 <span>$ 35.99</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-5.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-6.jpg" alt="" /></a>
                                        <div class="item-sale-tag new">New</div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Greeney Study Chair</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        
                                        <div class="price">$ 19.00 <span>$ 25.00</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-6.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-7.jpg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Nile Coffee Table</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        
                                        <div class="price">$ 20.99</div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-7.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-8.jpg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Garden Table Metal</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        
                                        <div class="price">$ 40.00</div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-8.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item out-of-stock">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-9.jpg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Flower Planter Table</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        
                                        <div class="price">$ 30.99 <span>$ 35.99</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-9.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                    <div class="dead-overlay"><span class="text">Out Of Stock</span></div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/resource/products/image-10.jpg" alt="" /></a>
                                        <div class="item-sale-tag top">Top</div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Fabric Sofa 3 Set</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-half-empty"></span>
                                        </div>
                                        
                                        <div class="price">$ 19.99 <span>$ 25.99</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="images/resource/products/image-10.jpg" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </section>
                </div><!--End Content Side-->   
                
                <!--Sidebar-->      
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <aside class="sidebar">
                        
                        <!-- Search Form -->
                        <div class="widget search-box sidebar-widget">
                            
                            <form method="post" action="http://world5.commonsupport.com/html2/decorators/index.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Enter Keyword">
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                            
                        </div>
                        
                        <!-- Popular Categories -->
                        <div class="widget popular-categories sidebar-widget">
                            <div class="sidebar-title"><h3>Product Categories</h3></div>
                            
                            <ul class="list-three">
                                <li><a href="#">Gardern Lights (15)</a></li>
                                <li><a href="#">Kitchen &amp; Dining (22)</a></li>
                                <li><a href="#">Fabric &amp; Wooden Sofa (20)</a></li>
                                <li><a href="#">Living Room Storage (10) </a></li>
                                <li><a href="#">Carpets &amp; Doormats (05) </a></li>
                            </ul>
                            
                        </div>
                        
                       
                    </aside>
                </div><!--End Sidebar-->      
                
            </div>
        </div>
    </div>
      
    
    <% include ./partials/footer %>
</div>
<!--End pagewrapper-->


<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-unchecked"></span></div>
	<div class="popup-inner">
    
    	<div class="search-form">
        	<form method="post" action="http://world5.commonsupport.com/html2/decorators/index.html">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Business</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Freedom</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="/js/jquery.js"></script> 
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/nouislider.js"></script>
<script src="/js/jquery.bootstrap-touchspin.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/script.js"></script>
</body>

</html>