<!DOCTYPE html>
<% include ./partials/header %>    

    <section class="main-slider">
            <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                	
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/fmg1.jpg"  data-saveperformance="off"  data-title="FMG Furniture">
                    <img src="images/lv.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>Making your space <br> striking &amp; inviting</h2></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text"></div></div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="contact.html" class="theme-btn btn-style-one">Contact Us</a> &ensp; <a href="contact.html" class="theme-btn btn-style-two">Request Quote</a></div>
                    
                    
                    </li>
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"   data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/lr.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>Bringing comfort</h2></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="0"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text text-center">that your home deserves</div></div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="center" data-hoffset="15"
                    data-y="center" data-voffset="100"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Contact Us</a> &ensp; <a href="#" class="theme-btn btn-style-two">Request Quote</a></div>
                    </li>
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/bedroom.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>An amazing final touch</h2></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">Bringing years of experience right to your home</div></div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Contact Us</a> &ensp; <a href="#" class="theme-btn btn-style-two">Request Quote</a></div>              
                    </li>
                </ul>
                
            	<div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    
    <!--welcome-section-->
    <section class="welcome-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--welcome-column-->
            	<div class="col-md-6 col-sm-12 col-xs-12 welcome-column">
                	<!--inner-content-->
                	<div class="inner-content wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h2>Welcome to FMG Furniture Company</h2>
                        <h3>Lasting quality at competitive prices <span></span></h3>
                        
                        <div class="text">FMG offers quality long-lasting furniture at affordable prices. Our works combines a commanding aethetic presence with quality to give your home/office a suiting presence that it deserves. Our attention to details coupled with years of deligence in the industry make us well positioned to meet your furniture needs. Our catalog offers tremendous depth of choices ranging from our finely-crafted furniture, to wooden flooring and interior curtains. Contact us today and join our happy clients to enjoy our unique services and products.</div>
                        
                        
                        <!--author-title-->
                        <div class="author-title">
                        	<div class="author-info">Ferdinand</div>
                            <div class="author-designation">Team Leader.</div>
                        </div>
                    </div>
                </div>
                
                <!--service-column-->
                <div class="col-md-6 col-sm-12 col-xs-12 service-column">
                    <!--service-block-one-->
                    <% for (let quality of qualities) { %>
                	<div class="service-block-one">
                    	<div class="inner-box">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-avatar-1"></span>
                            </div>
                            <h3><%= quality.title %></h3>
                           <div class="text"><%= quality.description %></div>
                        </div>
                    </div>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </section>
    
    
    <!--best-service-section-->
    <section class="best-service-section">
    	<div class="auto-container">
        	
            <!--sec-title-->
            <div class="sec-title clearfix">
                <h2 class="pull-left">Our Services</h2>
                <a class="service-link pull-right" href="/services">More Services <span class="fa fa-caret-right"></span></a>
            </div>
            
        	<div class="row clearfix">
            
               <% for(let service of services) { %>
                
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box wow fadeIn" data-wow-delay="400ms" data-wow-duration="1500ms">
                    	<div class="image-layer"></div>
                    
                    	<div class="icon-box">
                        	<span class="flaticon-parquet"></span>
                        </div>
                        
                        <h3><%= service.title %></h3>
                        <div class="text"> <%= service.description %></div>
                        <a href="/services" class="read-more">Read More</a>
                        
                        <div class="bottom-icon">
                        	<span class="flaticon-parquet"></span>
                        </div>
                        
                    </div>
                </div>
                <% } %>
                
                
            </div>
        </div>
    </section>
    
    
    <!--call-to-action-->
    <section class="call-to-action">
    	<div class="auto-container">
        	<div class="row">
            	<div class="text">Let FMG Furniture</div>
                <h2>make your home/office more lovely &amp; pleasant</h2>
                
                <a class="theme-btn btn-style-one" href="contact.html">Contact Us</a>
                <a class="theme-btn btn-style-two" href="contact.html">Request Quote</a>
                
            </div>
        </div>
    </section>
    
    
    <!--default-two-column-->
    <section class="default-two-column">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<div class="column spec-column col-md-6 col-sm-12">
                    <!--sec-title-three-->
                    <div class="sec-title-three">
                        <div class="sub-title">FMG</div>
                        <h2>Why you should entrust us</h2>
                    </div>
                    
                    <!--specs-->
                    <div class="specs clearfix">
                        <div class="row clearfix">
                            <!--spec-block-->
                            <div class="spec-block col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <!--spec-block-->
                                <div class="inner-box">
                                    <!--icon-box-->
                                    <div class="icon-box">
                                        <span class="flaticon-improvement"></span>
                                    </div>
                                    <h3>Good at Colors</h3>
                                    <div class="text">We know how the right colors that suits your work</div>
                                </div>
                            </div>
                            
                            <div class="spec-block col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <!--spec-block-->
                                <div class="inner-box">
                                    <!--icon-box-->
                                    <div class="icon-box">
                                        <span class="flaticon-fabric"></span>
                                    </div>
                                        <h3>Flooring Patterns</h3>
                                        <div class="text">Great floorings takes a pattern, and we are experts at it.</div>
                                </div>
                            </div>
                            
                            <div class="spec-block col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <!--spec-block-->
                                <div class="inner-box">
                                    <!--icon-box-->
                                    <div class="icon-box">
                                        <span class="flaticon-layers"></span>
                                    </div>
                                        <h3>All Flooring Types</h3>
                                        <div class="text">Wooden,  concrete, tiles ..., we deal exclusively with all types.</div>
                                </div>
                            </div>
                            
                            <div class="spec-block col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <!--spec-block-->
                                <div class="inner-box">
                                    <!--icon-box-->
                                    <div class="icon-box">
                                        <span class="flaticon-dinner"></span>
                                    </div>
                                        <h3>Quality Furniture</h3>
                                        <div class="text">Beautiful furniture needs to be quality. We do combine both.</div>
                                 </div>
                            </div>
                            
                        </div>
                    </div>
                 </div>
                 
                <div class="column form-column col-md-6 col-sm-12">
                	<!--sec-title-three-->
                    <div class="sec-title-three">
                        <div class="sub-title">Request for</div>
                        <h2>Quotation</h2>
                    </div>
                    
                	<!--form-box-->
                	<div class="form-box default-form wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="contact-form default-form">
                            <form method="post" action="">
                                <div class="row clearfix">
                                
                                	<div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    	<select>
                                        	<option>Furniture</option>
                                            <option>Flooring</option>
                                            <option>Curtains</option>
                                        </select>
                                    </div>
                                
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="username" value="" placeholder="Your Name *" required>
                                    </div>
        
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" name="email" value="" placeholder="Your Mail *" required>
                                    </div>
                                    
        							<div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="number" value="" placeholder="Phone Number">
                                    </div>
                                    
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <textarea name="message" placeholder="Message *"></textarea>
                                    </div>
        							<div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    	<button type="submit" class="theme-btn btn-style-two">Get Quote</button>
                                    </div>
                                </div>
                            </form>
						</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    
    <!--testimonial-style-one-->
    <section class="testimonial-style-one" style="background-image:url(images/bedroom.jpg);">
    	<div class="auto-container">
        	<div class="row">
            	
                <div class="carousel-outer">
                    <div class="icon fa fa-quote-left"></div>
                    <div class="single-item-carousel">

                        <!--Slide Item-->
                        <div class="slide-item">
                            <div class="inner-box">
                                <div class="slide-text">More than just decoration, FMG furniture's has a pool of ideas to transform a place to palace.</div>
                                <!--auther-info-->
                                <div class="auther-info">
                                    <div class="auther-name">Mr. Ityokyaa S.</div>
                               
                                </div>
                            </div>
                        </div>
                        
                        <!--Slide Item-->
                        <div class="slide-item">
                            <div class="inner-box">
                                <div class="slide-text">Exactly what I was looking for, FMG gave me that satisfaction with quality and great furniture. </div>
                                <!--auther-info-->
                                <div class="auther-info">
                                   <div class="auther-name">Nambe G.T.</div>
                                
                                </div>
                            </div>
                        </div>
                        
                        <div class="slide-item">
                            <div class="inner-box">
                                <div class="slide-text">There is one interesting thing about FMG Furniture team, they are deligent at what they do. There careful flooring always tells. </div>
                                <!--auther-info-->
                                <div class="auther-info">
                                   
                                    <div class="auther-name">Mohammed K.</div>
                                   
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--tabbed-shop-section-->
    <section class="tabbed-shop-section">
    	<div class="auto-container">
        
            <div class="sec-title-four">
                <h2>From The Shop</h2>
            </div>
            
            <!--Shop Tabs Box-->
            <div class="shop-tabs-box">
            
                
                <!--Tabs Content-->
                <div class="tabs-content">
                    <!--Tab / Active Tab-->
                    <div class="shop-tab active-tab" id="tab-one">
                        <div class="tabbed-shop-carousel">
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/lshape.jpeg" alt="L-Shape Executive Chair" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">L-Shape Executive Chair</a></h3>
                                        
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/lshape.jpeg" title="L-Shape Executive Chair"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/dining2.jpeg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">Dinning Chairs and Table</a></h3>
                                        
                                       
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/dining2.jpeg" title="Dining Table and Chairs"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                             <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/fmg.jpeg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">Office Chair and Table</a></h3>
                                        
                                       
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/fmg.jpeg" title="Office chair and table"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/tvstand.jpeg" alt="" /></a>
                                      
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="contact.html">TV Stand Wall Fitted</a></h3>
                                        
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/tvstand.jpeg" title="Wall Fitted TV Stand"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                       </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/cabinet.jpeg" alt="cabinet" /></a>
                                                 </figure>
                                    
                                    <div class="lower-content">
                                        <h3><a href="">Cabinet</a></h3>
                                        
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/cabinet.jpeg" title="cabinet"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/kids.jpeg" alt="kids bed" /></a>
                                            </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">Kids Bed &amp; Wardrobe</a></h3>
                                        
                                       
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/kids.jpeg" title="Kids Bed &amp; Wardrobe"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/sch1.jpeg" alt="" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">school suits</a></h3>
                                        
                                       
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/sch1.jpeg" title="School suits"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            
                            
                           
                            
                            <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/bed3.jpeg" alt="" /></a>
                                         </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">Executive Beds</a></h3>
                                        
                                       
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/bed3.jpeg" title="Executive bed"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                                     
                    
                </div>
               <div class="text-center padd-top-50"><a class="theme-btn btn-style-two" href="shop.html">More Products</a></div>
            </div>
        </div>
    </section>
    
   
    
   <% include ./partials/footer %> 
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/isotope.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>