<!DOCTYPE html>
<% include ./partials/header %>
<!--Page Title-->
    <section class="page-title" style="background-image:url(images/bg.jpg);">
        <div class="auto-container">
            <h1><%= pageDetails.header %></h1>
        </div>
    </section>
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2><%= pageDetails.header %></h2></div>
        </div>
    </section>
    
    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
               <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    
                    <!--Products Section-->
                    <section class="products-section no-padd-top">
                        
                            <div class="shop-upper-box">
                                    <div class="clearfix">
                                        <div class="pull-left items-label">Showing 1-9 of 40 items</div>
                                        <div class="pull-right sort-by">
                                            <strong>Sort By:</strong>
                                            <select class="sort-select">
                                                <option>Price: Lowest First</option>
                                                <option>Price: Highest First</option>
                                                <option>Ascending</option>
                                                <option>Descending</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>           
                        <div class="row clearfix">
                            
                            <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                       <a href="/products/details"> <img src="images/kids2.jpeg" alt="kids bed" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3>Kids Bed</h3>                                                       
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/kids2.jpeg" title="kids bed"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <img src="images/royals.jpeg" alt="Sofas" />
                                    
                                    </figure>
                                    
                                       <div class="lower-content">
                                        <h3>Sofas</h3>
                                                                
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/royals.jpeg" title="Sofas"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                       <img src="images/fmg6.jpg" alt="school sits" />
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3>school sits</h3>
                                        
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/fmg6.jpg" title="school sits"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="/products/details"><img src="images/wardrobe5.jpeg" alt="Wardrobe" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3>Wardrobe</h3>
                                                                   
                                           <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/wardrobe5.jpeg" title="Wardrobe"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>

                             <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/royals7.jpeg" alt="Sofas" /></a>
                                                     </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">Sofas</a></h3>
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/royals7.jpeg" title="Sofas"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                       <img src="images/fmg1.jpg" alt="Dining Set" />
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3>Dining Set</h3>
                                    
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/fmg1.jpg" title="Dining Set"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                       <img src="images/lshape1.jpeg" alt="L-Shape Chair" />
                                    </figure>
                                    
                                       <div class="lower-content">
                                        <h3><a href="">L-Shape Chair</h3>
                                           <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/lshape1.jpeg" title="L-Shape Chair"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            

                             <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <img src="images/dining5.jpeg" alt="Dining set" />
                                                     </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3>Dining set</h3>
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/dining5.jpeg" title="Dining set"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                           

                             <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/bed3.jpeg" alt="Royal Bed" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3>Royal Bed</h3>
                                                                   
                                           <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/bed3.jpeg" title="Royal Bed"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>
                           
                             <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                       <img src="images/fmg2.jpg" alt="Kitchen Furniture" />
                                    </figure>
                                    
                                       <div class="lower-content">
                                        <h3>Kitchen Furniture</h3>
                                        
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/fmg2.jpg" title="Kitchen Furniture"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            
                            <div class="default-shop-item out-of-stock col-lg-4 col-md-6 col-sm-4 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/tv2.jpeg" alt="TV Table" /></a>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">TV Table</a></h3>
                                                                
                                       
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/tv2.jpeg" title="TV Table"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                                                   
                                </div>
                            </div>
                            
                            <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="images/fmg.jpeg" alt="Office set" /></a>
                                                     </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">Office set</a></h3>
                                        <div class="links-box">
                                            <a class="cart-btn" href="contact.html">Contact Us</a>
                                            <a class="zoom-btn lightbox-image" href="images/fmg.jpeg" title="Office set"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                                  </div>
                                    </div>
                                    
                                </div>
                            </div>
             
                        </div>                      
                                                
                    </section>
                
                </div>  
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <aside class="sidebar">
                            
                            <!-- Search Form -->
                            <div class="widget search-box sidebar-widget">
                                
                                <form method="post" action="http://world5.commonsupport.com/html2/decorators/index.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Enter Keyword">
                                        <button type="submit"><span class="icon fa fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                            
                            <div class="widget popular-categories sidebar-widget">
                                <div class="sidebar-title"><h3>Categories</h3></div>
                                <ul class="list-three">
                                    <% categories.forEach(category => { %>
                                    <li><a href="#"><%= category.name %></a></li>
                                    <% }); %>
                                </ul>
                            </div>
                        </aside>
                    </div><!--End Sidebar-->      
                      
  
            </div>
        </div>
    </div>
      
    
   <% include ./partials/footer %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/isotope.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>