<!DOCTYPE html>
<html>

<% include ./partials/header %>    
    
    <section class="register-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <div class="text-center form-column column col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                
                    <div class="sec-title medium">
                        <h2><%= pageDetails.header %></h2>
                    </div>
                    <% if(pageDetails.error) {%>
                    <%= pageDetails.error %>
                    <%}%>
                    <div class="styled-form login-form">
                        <form method="post" action="/users" name="form1">
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-user"></span></span>
                                <input type="text" name="name" required placeholder="Your Name *">
                            </div>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                                <input type="email" name="email" placeholder="Enter email" required>
                            </div>
                            <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-phone"></span></span>
                            <input type="text" name="phone" placeholder="Phone number" required>
                        </div>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                                <input type="password" name="password" placeholder="Enter Password" required>
                            </div>

                            <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" name="password_confirmation" placeholder="Confirm Password" required>
                        </div>
                        <div class="clearfix">
                                <div class="form-group pull-left">
                                    <button type="submit" class="theme-btn btn-style-two">Register</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    
                </div>
                
                
            </div>
        </div>
    </section>
      
    
   <% include ./partials/footer %> 
    
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/nouislider.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>

</html>