<!DOCTYPE html>
<% include ./partials/header %>    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/bg.jpg);">
        <div class="auto-container">
            <h1><%= pageDetails.header %></h1>
        </div>
    </section>
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2><%= pageDetails.header %></h2></div>
             </div>
    </section>
    
    <!--Services Section-->
    <section class="services-section">
    	<div class="auto-container">
            
        	<div class="row clearfix">
            	
               <% services.forEach(service => { %>
                    
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-layers"></span></div>
                        	<h3><%= service.title %></h3>
                            <div class="text"><%= service.description %></div>
                             </div>
                    </div>
                </div>
                
           <% }); %>
                
                
                
               
                               
                             
                
            </div>
        </div>
    </section>
    
    
    <!--call-to-action-->
    <section class="call-to-action" style="background-image:url(images/bgtitle.jpg);">
    	<div class="auto-container">
        	<div class="row">
            	      <h2>We make your home/office cozy.</h2>
                
                <a class="theme-btn btn-style-one" href="#">Contact Us</a>
                <a class="theme-btn btn-style-two" href="#">Call Us</a>
                
            </div>
        </div>
    </section>
   <% include ./partials/footer %> 
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/isotope.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>