<!DOCTYPE html>
<% include ./partials/header %>    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/bg.jpg);">
        <div class="auto-container">
            <h1><%= pageDetails.header %></h1>
        </div>
    </section>
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2><%= pageDetails.header %></h2></div>
             </div>
    </section>
    
    
    <!--Services Section-->
    <section class="services-section">
    	<div class="auto-container">
            
        	<div class="row clearfix">
            	
                
                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="images/wood.jpeg" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-layers"></span></div>
                        	<h3><a href="service-single.html">Wooden Flooring</a></h3>
                            <div class="text">All types of hardwood floors have unmatched natural beauty and go with any decor — modern, traditional, country, you name it. Hardwood flooring goes in any room, although kitchens and basements warrant special considerations. We have an unmatched experience in wood flooring. Contact us today.</div>
                             </div>
                    </div>
                </div>
                
                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="images/furniture.jpeg" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-compass"></span></div>
                        	<h3><a href="service-single.html">Interior Design</a></h3>
                            <div class="text">A beautiful room starts with a vision and then begins to take form with a plan. Whether you are working with a brand new space, or wanting a fresh look for an existing one, the designers at FMG Furniture can help you bring your vision to life.</div>
                                 </div>
                    </div>
                </div>
                
                
                
                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="images/lr.jpg" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-two"></span></div>
                        	<h3><a href="service-single.html">Furniture Work</a></h3>
                            <div class="text">Investing in furniture of solid quality is the best plan for creating a space that makes you feel relaxed and glad to be there. We recommend you visit FMG furniture store to get an idea of what great-quality furnishings can do for your home or office. We have classic furniture designs that allow customers to create a living space that is unique. We offer furniture that is as liveable and affordable as it is beautiful.  </div>
                             </div>
                    </div>
                </div>
                               
                             
                
            </div>
        </div>
    </section>
    
    
    <!--call-to-action-->
    <section class="call-to-action" style="background-image:url(images/bgtitle.jpg);">
    	<div class="auto-container">
        	<div class="row">
            	      <h2>We make your home/office cozy.</h2>
                
                <a class="theme-btn btn-style-one" href="#">Contact Us</a>
                <a class="theme-btn btn-style-two" href="#">Call Us</a>
                
            </div>
        </div>
    </section>
   <% include ./partials/footer %> 
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/isotope.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>