 
     <!--Main Footer-->
     <footer class="main-footer">
         <div class="footer-bottom">
         	<div class="auto-container">
            	<div class="clearfix">
                	<div class="pull-left"><div class="copyright">You are on the admin section</div></div>
                </div>
            </div>
        </div>
    </footer>
   