<footer class="main-footer">
    	<div class="auto-container" >
        
            <div class="widgets-section">
            	<div class="row clearfix">
                	<div class="big-column col-md-12 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                        	<div class="footer-column col-md-12 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                    <div class="widget-content">
                                    	<div class="text text-center">Kindly note that you are in the admin section. Ensure to proofread before posting.</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                 </div>
             </div>
        
        </div>
        
    </footer>