<div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                            <aside class="sidebar">
                               
                               <div class="widget sidebar-widget styled-nav">
                                   <nav class="nav-outer">
                                       <h4>Tasks</h4>
                                       <ul>
                                           <li><a href="/users">Create Users</a></li>
                                           <li><a href="/category">Product Category</a></li>
                                           <li><a href="/products/create">Create Product</a></li>
                                           <li><a href="/products/view">View Products</a></li>
                                           <li><a href="#">Chairs &amp; Stools</a></li>
                                           <li><a href="#">Bedroom Sets</a></li>
                                           <li><a href="#">Office Chairs and Tables</a></li>
                                           <li><a href="#">Office Workstations</a></li>
                                           <li><a href="#">Beds</a></li>
                                           <li><a href="#">Wardrobe</a></li>
                                       </ul>
                                   </nav>
                               </div>                        
                           </aside>
                       </div>