 
     <!--Main Footer-->
     <footer class="main-footer">
    	<div class="auto-container" >
        
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	<!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                    <div class="widget-content">
                                    	<div class="text">For your genuine products and quality services at a competitive price.</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                    <div class="widget-content">
                                        <ul class="contact-info">
                                        	<li><span class="icon fa fa-map-marker"></span><%= contacts.address %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                                        
                        </div>
                    </div>
                    
                    <!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                    <div class="widget-content">
                                        <ul class="contact-info">
                                            <li><span class="icon fa fa-phone"></span><% for(let phone of contacts.phone ) {%>
                                            <%= phone %> <% } %>      </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                  
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                    <div class="widget-content">
                                        <ul class="contact-info">
                                            <li><span class="icon fa fa-envelope-o"></span>
                                                <%= contacts.email %>                        
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                 </div>
             </div>
        
        </div>
        
        <!--Footer Bottom-->
         <div class="footer-bottom">
         	<div class="auto-container">
            	<div class="clearfix">
                	<div class="pull-left"><div class="copyright">Copyrights &copy; 2018 All Rights Reserved by &ensp; FMG Furniture Company.</div></div>
                    <div class="pull-right">
                    	<ul class="footer-nav">
                        	<li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-unchecked"></span></div>
	<div class="popup-inner">
    
    	<div class="search-form">
        	<form method="post" action="http://world5.commonsupport.com/html2/decorators/index.html">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search" class="theme-btn">
                    </fieldset>
                </div>
            </form>
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>

<script src="/js/jquery.js"></script> 
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/revolution.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/script.js"></script>
</body>

</html>
   