<!DOCTYPE html>
<html>
    <% include ../partials/header %>    
    <!--Page Info-->
    <section class="page-info">
           </section>
    
    <!--Contact Section-->
    <section class="contact-section">
    	<div class="auto-container">
        	<div class="row clearfix">
                
                <!--Form Column -->
            	<div class="column form-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="sec-title medium"><h2>Create Contact Details</h2></div>
                        <%= pageDetails.error %>
                    <div class="form-box default-form">
                        <div class="contact-form default-form">
                            <form method="post" action="/contact/create" id="contact-form">
                                <div class="row clearfix">
                                
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <input type="email" name="email" placeholder="Email account" required>
                                    </div>
        
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="phone" value="" placeholder="Major phone number" required>
                                    </div>
                                    
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="secondline" placeholder="Phone Number">
                                    </div>
                                    
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <textarea name="address" placeholder="Address *"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" class="theme-btn btn-style-two">Get Quote</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column info-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                	<div class="sec-title medium"><h2>Contact Details</h2></div>
                    <div class="desc-text">Do note that these are major contact details shown all over the site</div>
                	<div class="info-style-one">
                        <ul>
                            <li><div class="icon-box"><span class="flaticon-international-delivery"></span></div><h4>Address :</h4><div class="text">21/17, Level 4 Steel Rock St, Melbourne <br>Victoria 3000, Australia.</div></li>
                            <li><div class="icon-box"><span class="flaticon-envelope"></span></div><h4>Mail to Fernando :</h4><div class="text">Decoratorssupport@gmail.com</div></li>
                            <li><div class="icon-box"><span class="flaticon-phone-call"></span></div><h4>Call Him:</h4><div class="text"> +1 (44) 123-45-67, +1(44) 456-78-90</div></li>
                        </ul>
                    </div>
                </div>
                
            </div>    
       	</div>
   	</section>
    
   

    <% include ../partials/footer %>
