<!DOCTYPE html>
<% include ../partials/header %>
    
    <section class="page-title" style="background-image:url(images/bg.jpg);">
        <div class="auto-container">
            <h1><%= pageDetails.header %></h1>
        </div>
    </section>
    
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2><%= pageDetails.header%></h2></div>
        </div>
    </section>
    
    <section class="about-us-section">
    	<div class="auto-container">
        	<div class="row clearfix">
                
                <!--Text Column -->
            	<div class="column text-column col-md-6 col-sm-12 col-xs-12">
                	<h2>Furnish your home with things you love</h2>
                    <div class="inner-box">
                         <div class="text">At FMG, we have classic furniture designs that allow customers to create a living space that is unique. We offer furniture that is as liveable and affordable as it is beautiful. We put our customers first and set our prices as low as possible, so that you can be confident you are getting the best value every day. Our overall goal is to offer great design at affordable prices.

We give you endless possibilities with our custom furniture upholstery programs. We have hundreds of fabrics available, from rich suedes to soft chenilles so you can make the perfect choice for your home. Let our design consultants help you select one favorite piece or furnish an entire room.</div>
                         
                         <div class="about-owner">
                         	<h4>Ferd M, <span class="designation">Team Leader</span></h4>
                               </div>
                    </div>
                </div>

                
                <!--Column-->
                <div class="column image-column col-md-6 col-sm-12 col-xs-12">
                	<article class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                		<figure class="image-box video-box">
                        	<img src="images/shop.jpg" alt="">
                           </figure>
                    </article>
                </div>
                
            </div>
            
            <!--Our Services-->
            <div class="our-services">
            	<div class="row clearfix">
                	<!--service-block-one-->
                	<div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                    	<div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-cursor"></span>
                            </div>
                            <h3>We are Professional</h3>
                             <div class="text">When it comes to interior decoration, furniture and flooring, we deliver with precision, efficiency and mastery.</div>
                        </div>
                    </div>
                    <!--service-block-one-->
                    <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                    	<div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-compass"></span>
                            </div>
                            <h3>We are Expert</h3>
                            <div class="text">With layers of experience in the industry serving a vast number of clients, we have redefined expertise in interior decoration and furniture.</div>
                        </div>
                    </div>
                    <!--service-block-one-->
                    <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                    	<div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-correct"></span>
                            </div>
                            <h3>We are Trusted</h3>
                           <div class="text">We deliver quality as pledged, that's why we are trusted by many clients.</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    
    
    <!--best-service-two-->
    <section class="best-service-two" style="background-image:url(images/bgtitle.jpg);">
    	<div class="auto-container">
        	
                 <div class="sec-title-four">
                <h2>Why We Are Best</h2>
            </div>
            
        	<div class="row clearfix">
                
                <!--service-block-two-->
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class="flaticon-bright-lightbulb"></span></div>
                        <h3>Innovative Designers </h3>
                    </a>
                </div>
                
                <!--service-block-two-->
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class="flaticon-compass"></span></div>
                        <h3>Best Quality Products </h3>
                    </a>
                </div>
                
            
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class="flaticon-stopwatch"></span></div>
                        <h3>Support </h3>
                    </a>
                </div>
                
                
            </div>
        </div>
    </section>
    
<% include ../partials/footer %>
    
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/isotope.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>


